article{
    display: flex;
    justify-content: space-evenly;

.contenedor{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    figure{
        position: relative;
        height: 250px;
        width: 300px;
        overflow: hidden;
        border-radius: 6px;
      
        img{
            width: 100%;
            width: 100%;
            transition: all 500ms ease-out;
        }
        .capa{
            position: absolute;
            top: 0;
            width: 100%;
            background-color: rgba(21, 35, 38, 0.701);
            height: 100%;
            transition: all 500ms ease-out;
            opacity: 0;
        visibility: hidden;
        text-align: center;
        h3{
            color: white;
            font-weight: 400;
            margin-bottom: 120px;
            transition: all 500ms ease-out;
            margin-top: 30px;
        }
        p{
            color:#fff;
            font-size: 15px;
            line-height: 1.5;
            width: 100%;
            max-width: 220px;
            margin: auto;
        }
        }
    }
} 

.contenedor figure:hover > .capa{
    opacity: 1;
    visibility: visible;
}
.contenedor figure:hover > .capa h3{
    margin-top: 70px;
    margin-bottom: 15px;
}

.contenedor figure:hover > img{
    transform: scale(1.3);
}
}