#pag-busc-jugadorxs {
    main {
        .caja-form{
margin-top: 50px;
       
        h2{
            text-align: center;
        }
        .formulario {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }
    }
    }
}