h1{
    background-color: black;
    color: white;
    padding-left: 10px;
}
main {
    margin: 0px 100px;
    .carouselExample {
        img {
            width: 80%;
            margin: auto;
            padding: 0;
        }
        
    }
}


