@media only screen and (max-width: 500px) {
    main {
        margin: 0px;

        .carouselExample {
            img {
                width: 100%;
                padding: 0;
            }

        }
    }

    .articulos-centro {
        margin: 10px 10px;
        display: flex;
        justify-content: space-around;
    }

    .sponsors {
        .container-sponsors1 {
            .row {
                img {
                    width: 35px;
                }
            }
        }
    }

    footer {
        justify-content: center;

        .footer-links {
            ul {
                padding: 0;
                margin: auto;
            }
        }
    }

    #pag-jugadorxs {
        main {
            h2 {
                margin: 10px 10px;
                text-align: center;
            }

            .division-jugadorxs {
                display: flex;
                flex-direction: column;

            }
        }
    }

    #pag-productos {
        .carousel-item {
            img {
                width: 100%;
                height: 90%;
            }
        }

        .lista-productos {
            .card {
                margin: 10px 0px;
            }
        }
    }

    #pag-postales {
        #carouselExample {
            img {
                width: 100%;
                margin-bottom: 30px;
            }
        }

        .galeria {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    #pag-posiciones {
        .zonas {
            .vs {
                width: $tamaño1;

            }
        }
    }
    #pag-horarios{
        h1{
            margin: 0;
        }
        main{
            .horarios{
h2{
    background-color: #403d39 ;
    color: white;
}
            .partidos{
                flex-direction: column;
            }
        }
        }
    }
}