@media only screen and (max-width: 500px) {
    main {
        margin: 0px;

        .carouselExample {
            img {
                width: 100%;
                padding: 0;
            }

        }
    }

    .articulos-centro {
        margin: 10px 10px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        padding: 10px 10px;
    }

    article {
        flex-direction: column;
    }

    .sponsors {
        .sponsors_img {
            width: 30px;
            height: 30px;
            margin: 10px 5px;
        }

    }

    footer {
        justify-content: center;

        .footer-links {
            ul {
                padding: 0;
                margin: auto;
            }
        }
    }

    #pag-jugadorxs {
        main {
            h2 {
                margin: 10px 10px;
                text-align: center;
            }

            .division-jugadorxs {
                display: flex;
                flex-direction: column;

            }
        }
    }

    #pag-productos {
        .carousel-item {
            img {
                width: 100%;
                height: 90%;
            }
        }

        .lista-productos {
            .card {
                margin: 10px 0px;
            }
        }
    }

    #pag-postales {
        #carouselExample {
            img {
                width: 100%;
                margin-bottom: 30px;
            }
        }

        .galeria {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    #pag-posiciones {
        main {
            .orden-2 {
                flex-direction: column;

                .equipos {
                    margin: 20px 0px;

                    img {
                        width: 100vw;
                    }
                }
            }
        }
    }

    #pag-horarios {
        h1 {
            margin: 0;
        }

        main {
            .horarios {
                h2 {
                    background-color: #403d39;
                    color: white;
                }

                .partidos {
                    flex-direction: column;
                }
            }
        }
    }

    #pag-cuerpo-tecnico {
        .orden-cuerpo-tecnico {
            flex-direction: column;
            align-items: center;

            .card {
                margin: 10px;
            }
        }
    }

    #pag-sobre-el-club {
        flex-direction: column;
        align-items: center;
    }

    #pag-cada-jugador {
        flex-direction: column;
        align-items: center;

        #carouselExample {
            width: 100vw;
        }

        .informacion_jugadorxs {

            .informacion_jugadorxs__titulos {
                video {
                    width: 100vw;
                }
            }
        }
    }
    #pag-productos__buzo{
        section{
            flex-direction: column;
        }
    }
}