.sponsors {
    background: #252422;
    border: 20px #252422 solid;

    .sponsors-img {
        display: flex;
        margin: 20px;
    }

    .container-sponsors1 {
        display: flex;
        margin: auto;
        justify-content: space-around;
    }

}

